
<!-- <div class="canvas_container">
    <canvas class="webgl_canvas"></canvas>
  </div> -->
<!-- <canvas id="artifactCanvas" myattr="myattr">
</canvas> -->
<!-- <p>mesh works!</p> -->
<!-- <div id="canvas" class="meshDemo"></div> -->

<!-- <div class="engine-wrapper">
    <canvas #rendererCanvas id="renderCanvas"></canvas>
  </div> -->

<!-- <div class="col-5 meshDemo">
    <div class="card">
        {{renderAnimate()}}

        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div> -->